/* Simple reset */
body {
	margin: 0px;
	padding: 0px;
	background: orange;
}

.container{
	margin: 10px;
	padding: 1em;
	background: white;
	justify-content: center;
	border-radius: 2em;
}

#game-display {
	margin: 25px;
}

#gameboard {
	margin-top: 20px;
	margin-left: 20px;
}

.segment {
	stroke-width: 15;
	stroke: #cccccc;
}

.segment:hover {
	stroke-width: 15;
	stroke: #ff9999;
}

